.cardcss{
    font-family: Work Sans;
font-size: 25px;
font-weight: 500;
line-height: 42px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;
position: relative;
left:10px;
top:125px;
margin-top:-48px


}