.legal{
    background-image: url(../../src/pages/images/consultancy.png);
}
.heading1{
    color: #FFF;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 4.8px;

}
.heading2{
    color: #FFF;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.appointment-btn{
    background-color:rgb(47, 128, 237);
    position: relative;
    top: -25%;
    z-index: 1;
    color: #FFF;
    border: none;
    border-radius:  0px;
    
}
.appointment-btn:hover{
    position: relative;
    top: -25%;
    z-index: 1;
    color: #FFF;
    border: 1px solid white;
}