.img{
    background-image: url(../pages/images/law.png);
}
.heading1{
    color: #FFF;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 4.8px;
}
.heading2{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}
.text{
    color: #1C1D1E;
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 70.4px */
letter-spacing: -2.88px;
}

.appointment-btn{
    background-color:rgb(47, 128, 237);
    position: relative;
    top: -25%;
    z-index: 1;
    color: #FFF;
    border: none;
    border-radius:  0px;
    
}
.appointment-btn:hover{
    position: relative;
    top: -25%;
    z-index: 1;
    color: #FFF;
    border: 1px solid white;
}
