.navbar {
    border: 1px solid rgba(28, 29, 30, 0.30);
    background-color: #FFF;
    width: 100%;
    height: 100.025px;

}
.body{
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    /* overflow-x: none; */
    ;    
}
.body-dark-mode{
     background-color: rgb(46, 45, 45);
    
}






.chose{
    font-size: 50px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    font-variant: small-caps;
    letter-spacing: 0.168px;
    color: #1C1D1E;
    font-family: Roboto;
     padding-top: 12rem;
    
}

.para {
    color: #1C1D1E;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.168px;
    /* margin-right: 44rem; */
   
}
.get-Started{
    width: 190px;
    height: 60px;
    top: 747.92px;
    left: 120px;
    background: #2F80ED;
    color: white;
    
}

.main {
    background: linear-gradient(102deg, #F0E9EA 0%, rgba(248, 216, 122, 0.44) 54.74%, #E6DEE3 98.16%);
    flex-shrink: 0;
}

.supplementaryContentDark {
    background-color: rgb(46, 45, 45);
    height: 20rem;
    color: white;
}
.supplementaryContentLight {
    background-color: white;
    height: 20rem;
    color: black;
}

.heading1Light {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.5%;
    /* 79.04px */
    letter-spacing: -2.88px;

    margin-top: 5rem;
}
.heading1Dark{
    color:white;
    text-align: center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.5%;
    letter-spacing: -2.88px;
    margin-top: 5rem;
}

.heading2Light {
    color: rgba(38, 50, 56, 0.50);
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 2rem;
}
.heading2Dark{
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 2rem;
}
.footer {
    background: #1C1D1E;
    color: var(--base-light, #FFF);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 24.3px */
    letter-spacing: -0.18px;
    height: 6rem;
}
/* .imag{
    width: 250.804px;
height: 450.056px;
flex-shrink: 0;
 float: right;
} */

.card-css{

}