.logo{
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.96px;
}
.welcom{
    width: 565.492px;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 200px;
}
